.arue-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px 20px;
	font-size: 120%;
	background-color: #293129;
	margin-bottom: 1em;
	color: #93b393;

	& > * {
		flex: 1;
		display: flex;
		align-items: baseline;
	}

	& > :nth-child(1) {
		justify-content: start;
		gap: 1em;
	}

	& > :nth-child(2) {
		justify-content: center;
	}

	& > :nth-child(3) {
		justify-content: end;
	}

	.arue-search-form {
		position: relative;
	}

	.arue-search {
		background-color: #394539;
		color: #93b393;
		border: 2px solid #93b393;
		border-radius: 0.5rem 0 0 0.5rem;
		box-sizing: border-box;
		font-size: 0.875rem;
		font-weight: 400;
		line-height: 1.25rem;
		padding: 0.25rem 0.35rem;
		outline: none;

		&:focus {
			background-color: #394539;
			color: #93b393;
			border: 2px solid #93b393;
		}
	}

	.arue-autocomplete {
		border: 2px solid;
		border-radius: 0.5em;
		display: flex;
		flex-direction: column;
		gap: 0.25em;
		margin-top: 0.1em;
		position: absolute;
		background-color: #293129;
		min-width: 100%;
		max-width: fit-content;
		left: 50%;
		transform: translateX(-50%);
	}

	.arue-search-suggestion-line {
		display: flex;
		justify-content: space-between;
		padding: 0.25em 0.5em;
		border-bottom: 2px solid;
		margin: 0;
		cursor: pointer;

		&:hover,
		&[aria-selected="true"] {
			background-color: #394539;
		}

		&:first-of-type {
			border-radius: 0.5em 0.5em 0 0;
		}

		&:last-of-type {
			border: none;
			border-radius: 0.5em;
		}
	}
}

.arue-tag-general {
	color: #b0e0b0;
}

.arue-tag-artist {
	color: #f0a0a0;
}

.arue-tag-character {
	color: #f0f0a0;
}

.arue-tag-copyright {
	color: #f0a0f0;
}

.arue-tag-metadata {
	color: #90d9ed;
}

.arue-btn {
	background-color: transparent;
	border: 2px solid #93b393;
	color: #93b393;
	border-radius: 0.5rem;
	box-sizing: border-box;
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 1.25rem;
	padding: 0.25rem 0.35rem;
	text-align: center;
	text-decoration: none #d1d5db solid;
	text-decoration-thickness: auto;
	text-decoration-thickness: auto;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	cursor: pointer;

	&:hover {
		background-color: rgba(0, 0, 0, 0.25);
	}

	.arue-search + & {
		border-left: none;
		border-radius: 0 0.5rem 0.5rem 0;
	}
}

body:has(.arue-ui-search) > *:not(.arue-ui-search) {
	display: none !important;
}

body:has(.arue-container) > #header {
	margin-bottom: 0;
	padding-bottom: 0.5em;
}

.arue-ui-search {
	background-color: #394539;
	overflow: auto;
	height: 100vh;
	width: 100vw;

	.arue-ui-search-header {
		display: flex;
		justify-content: space-between;
		padding: 0.5em 1em;
		position: sticky;
		top: 0;
		background-color: #394539e0;
		backdrop-filter: blur(10px);
		box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
	}

	.arue-ui-search-grid {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5em;
		padding-bottom: 0.5em;
		justify-content: space-evenly;

		a {
			height: fit-content;
		}

		img {
			width: 100%;
		}
	}
}

body:has(.arue-dialog-backdrop) {
	overflow: hidden;
}

.arue-dialog-backdrop {
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(2px);

	.arue-dialog {
		background-color: #394539;
		color: #93b393;
		border: 2px solid #93b393;
		box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
		border-radius: 0.5em;
		max-height: calc(100vh - 1em);
		display: flex;
		flex-direction: column;
	}

	.arue-dialog-header {
		display: flex;
		justify-content: space-around;
		padding: 0.5em;
		border-bottom: 2px solid;

		& > * {
			flex: 1;
			display: flex;
			align-items: baseline;
		}

		& > :nth-child(1) {
			justify-content: start;
		}

		& > :nth-child(2) {
			justify-content: center;
		}

		& > :nth-child(3) {
			justify-content: end;
		}

		.arue-btn {
			aspect-ratio: 1;
			height: 2.5em;
		}
	}

	.arue-dialog-title {
		font-size: 1.75em;
	}

	.arue-dialog-content {
		padding-block: 0.5em;
		overflow: auto;
	}
}

.arue-history-list {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	padding: 0 0.5em;
	margin: 0;
}

.arue-history-list-item {
	display: flex;
	gap: 1em;
	margin: 0;
	justify-content: space-between;
	align-items: center;
}

.arue-history-list-term {
	font-size: 1.5em;
}

.arue-history-list-buttons {
	display: flex;
	gap: 0.25em;
}

/* enhancements */
.arue-favorited-post {
	border: 2px solid rgb(0, 255, 88) !important;
	box-sizing: border-box;
}

.arue-search-btn {
	margin-top: 3px;
	background: var(--c-link-soft);
	border: 1px solid rgb(218, 218, 218);
	width: 100%;
	margin-right: 0;
	font-weight: normal;

	&.arue-search-half {
		width: 50% !important;
	}
}

.thumb {
	width: unset;
	height: unset;
	display: flex;
	flex-direction: column;

	& > a {
		text-align: center;
	}

	& > div > span {
		width: 100%;
		height: 100%;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

div.image-list {
	gap: 20px;
	justify-content: space-between;

	& > span > a {
		text-align: center;
	}
}
