.arue-container {
  padding: 10px 20px;

  .arue-btn {
    background-color: transparent;
    border: 1px solid rgb(209, 213, 219);
    border-radius: 0.5rem;
    box-sizing: border-box;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: 0.25rem 0.35rem;
    text-align: center;
    text-decoration: none #d1d5db solid;
    text-decoration-thickness: auto;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }
}

.arue-favorited-post {
  border: 2px solid rgb(0, 255, 88) !important;
  box-sizing: border-box;
}
