{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
	<div hx-boost="true">
		<div class="grid grid-cols-2 gap-2 md:grid-cols-4 lg:grid-cols-6">
			{% for post in posts %}
				<img
					class="{% if post.is_video() %}border-4 border-sky-400{% endif %} aspect-square rounded object-cover shadow-md"
					id="p{{ post.id }}"
					height="600"
					width="600"
					loading="lazy"
					src="/image/{{ post.id }}"
				/>
			{% endfor %}
		</div>
		<nav class="mt-2 flex w-full items-center justify-center gap-2">
			{% if pagination.show_first %}
				<a
					class="cursor-pointer rounded-md border border-neutral-300 px-4 py-2 text-xl font-medium text-sky-500 shadow select-none hover:bg-neutral-50 active:bg-neutral-100 active:shadow-none dark:border-neutral-600 dark:text-sky-300 dark:hover:bg-neutral-700"
					href="/?page=1"
				>
					<<
				</a>
			{% endif %}
			{% if current_page != 1 %}
				<a
					class="cursor-pointer rounded-md border border-neutral-300 px-4 py-2 text-xl font-medium text-sky-500 shadow select-none hover:bg-neutral-50 active:bg-neutral-100 active:shadow-none dark:border-neutral-600 dark:text-sky-300 dark:hover:bg-neutral-700"
					href="/?page={{ current_page - 1 }}"
					hx-trigger="click, keyup[key=='ArrowLeft'] from:body"
				>
					<
				</a>
			{% endif %}
			{% for page_number in pagination.pages %}
				{% if *page_number == current_page %}
					<span
						class="rounded-md border border-neutral-300 bg-sky-500 px-4 py-2 text-2xl font-medium text-white shadow select-none"
					>
						{{ page_number }}
					</span>
				{% else %}
					<a
						class="cursor-pointer rounded-md border border-neutral-300 px-4 py-2 text-xl font-medium text-sky-500 shadow select-none hover:bg-neutral-50 active:bg-neutral-100 active:shadow-none dark:border-neutral-600 dark:text-sky-300 dark:hover:bg-neutral-700"
						href="/?page={{ page_number }}"
					>
						{{ page_number }}
					</a>
				{% endif %}
			{% endfor %}
			{% if current_page != pagination.total_page_count %}
				<a
					class="cursor-pointer rounded-md border border-neutral-300 px-4 py-2 text-xl font-medium text-sky-500 shadow select-none hover:bg-neutral-50 active:bg-neutral-100 active:shadow-none dark:border-neutral-600 dark:text-sky-300 dark:hover:bg-neutral-700"
					href="/?page={{ current_page + 1 }}"
					hx-trigger="click, keyup[key=='ArrowRight'] from:body"
				>
					>
				</a>
			{% endif %}
			{% if pagination.show_last %}
				<a
					class="cursor-pointer rounded-md border border-neutral-300 px-4 py-2 text-xl font-medium text-sky-500 shadow select-none hover:bg-neutral-50 active:bg-neutral-100 active:shadow-none dark:border-neutral-600 dark:text-sky-300 dark:hover:bg-neutral-700"
					href="/?page={{ pagination.total_page_count }}"
				>
					>>
				</a>
			{% endif %}
		</nav>
	</div>
{% endblock %}
